html, body { 
  height: 100%; 
  background-image: url('./assets/background.svg');
  background-size: contain;
  overflow-y: auto !important;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import 'main-styles.scss';

