.board{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    min-height: 0;
    
    .board-bar{
        background: rgba(gray, 0.5);
        padding: 8px 15px;
        display: flex;
        justify-content: center;

        .board-name{
            font-size: 20px;
            font-weight: bold;
            color: white;
        }
    }
    .board-wrapper{
        display: flex;
        flex-grow: 1;
        overflow-x: auto;

    .board-columns {
        display: flex;
        flex-grow: 1;

        .board-column {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-basis: 0;
            min-width: 100px;
            margin: 50px;
            padding: 25px;
            border-radius: 4px;
            background: rgba(white, 0.5);

            &:not(:first-child){
                margin-left: 0;
            }

            .column-title {
                font-size:20px;
                font-weight: 800;
                text-transform: capitalize;
                margin-bottom: 20px;
            }
        }
    }
}
}

.tasks-container{
    flex-grow: 1;
}

.task{
    display: flex;
    padding: 15px 12px;
    background: white;
    border-bottom: solid 3px #ddd;
    border-radius: 4px;
    margin-bottom: 15px;

    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
    0 3px 14px 2px rgba(0, 0, 0, 0.05)
}





