<div class="board">
    <h3>{{message}}</h3>
    <div class="board-bar">
        <p class="board-name">Kanban Board</p>
    </div>

    <div class="board-wrapper">
        <div class="board-columns" cdkDropListGroup>
            <div class="board-column">
                <div class="column-title">
                    Todo
                </div>
                <div class="task-container"
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="todo"
                (cdkDropListDropped) = "drop($event)"
                >
                    <div class="task" *ngFor="let item of todo" cdkDrag>
                        {{item}}
                    </div>
                </div>
            </div>
            <div class="board-column">
                <div class="column-title">
                    On Progress
                </div>
                <div class="task-container"
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="progress"
                (cdkDropListDropped) = "drop($event)"
                >
                    <div class="task" *ngFor="let item of progress" cdkDrag>
                        {{item}}
                    </div>
                </div>
            </div>
            <div class="board-column">
                <div class="column-title">
                    Review
                </div>
                <div class="task-container"
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="review"
                (cdkDropListDropped) = "drop($event)"
                >
                    <div class="task" *ngFor="let item of review" cdkDrag>
                        {{item}}
                    </div>
                </div>
            </div>
            <div class="board-column">
                <div class="column-title">
                    Done
                </div>
                <div class="task-container"
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="done"
                (cdkDropListDropped) = "drop($event)"
                >
                    <div class="task" *ngFor="let item of done" cdkDrag>
                        {{item}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>