<form [formGroup]="form" (submit)="submit()" class="form">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      <input formControlName="email" type="email" class="form-control" placeholder="email" required>
      <input formControlName="password" type="password" class="form-control" placeholder="Password" required>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
</form>